
body{
  background-image: url('./assets/e937b41e96b2270eefdc7c2831307452.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #8ebe09;
}