<div class="container mt-4">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card text-bg-info rounded border-primary">
        <div class="card-header text-bg-light">BUS</div>
        <div class="card-body">
          <h5 class="card-title">Placa:</h5>
          <p class="card-text">Modelo:</p>
          <p class="card-text">Marca:</p>
          <p class="card-text">Número de asientos:</p>

          <div class="btn-group">
            <a class="btn btn-secondary">Editar</a>
            <a class="btn btn-danger">Eliminar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>